{% extends 'base.html' %}
{% load static %}
{%block content%}

<p><a href="{% url 'index' %}">홈으로 돌아가기</a></p>
<h1> {{ username }} 의 프로필 페이지 .</h1>

<!-- <img src="{% static 'accounts/default.jpg' %}" alt="사진"> -->
<img src="{{accounts.image.url}}" alt="">

<p>
    <a href="{% url 'accounts:modify' %}">
        <button>내 정보 수정</button>
    </a>
</p>

<p>
    <form action= "{% url 'accounts:delete' %}" method='POST'>
        {% csrf_token %}
        <button type='submit'>회원 탈퇴</button>
    </form>
</p>



</form>

<img src="{{ accounts.image.url }}" alt="프로필">



{%endblock content%}