{% extends 'base.html' %}

{%block content%}

<p><a href="{% url 'index' %}">홈으로 돌아가기</a></p>
<h1> {{ username }} 의 프로필 페이지 .</h1>

<p>
    <a href="{% url 'accounts:modify' %}">
        <button>내 정보 수정</button>
    </a>
</p>

<p>
    <form action= "{% url 'accounts:delete' %}" method='POST'>
        {% csrf_token %}
        <button type='submit'>회원 탈퇴</button>
    </form>
</p>

<form action= "{% url 'accounts:profile_update' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">업로드</button>
</form>

{% if user.profile.image %}
    <img src="{{ accounts.profile.image.url }}" alt="프로필">
{% else %}
    <p>프로필 이미지가 설정되지 않았습니다.</p>
{% endif %}

{%endblock content%}