{% extends "base.html" %}

{% block content %}
<h1>글작성하기</h1>

<form action="{% url 'products:create' %}" method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.as_p }}
    <label for="hashtags">hashtags:</label>
    <input type="text" id="hashtags" name="hashtags" oninput='HachTagInput(event)' size="30" maxlength="50" placeholder="쉼표로 구분해서 입력하세요.">
    <br><br>
    <button type='submit'>작성완료</button>
</form>
<br>
<a href="{% url 'index' %}">
    <button>돌아가기</button>
</a>

{% endblock content %}