{% extends "base.html" %}

{% block content %}
<h1>SPARTA MARKET</h1>

<p>
    <a href="{% url 'products:create' %}">
        <button>글작성하기</button>
    </a>
</p>

{% if user.is_authenticated %}
    <p>
        <a href="{% url 'accounts:profile' username=user.username %}">
            <button>마이페이지로</button>
        </a>
    </p>

{% endif %}


{% for product in products %}
    <hr>
    <h3>
        <a href='{% url 'products:details' product.pk %}'>
            {{ product.title }}
        </a> 
        [{{ product.comments.count }}]
    </h3>
    <p>
        조회수: {{ product.hits }}
    </p>
    <p>
        찜한 사람: {{ product.like_users.count }} 명
    </p>
    <p>
        작성자: 
        <a href="{% url 'accounts:profile' username=product.author %}">
            {{ product.author }}
        </a>
    </p>
    <p>
        작성시간: {{ product.created_at }}
    </p>
    
{% endfor %}

{% endblock content %}