{% extends 'base.html' %}

{%block content%}

<h1> {{ user.username }} 의 프로필 페이지 .</h1>
<p>
    유저네임 : {{ user.username }}<br><br>
    email : {{ user.email }}
</p>
<p>
    <a href="{% url 'index' %}">홈으로 돌아가기</a>
</p>

<p>
    <a href="{% url 'accounts:modify' %}">
        <button>내 정보 수정</button>
    </a>
</p>

<p>
    <form action={% url 'accounts:logout' %} method='POST'>
        {% csrf_token %}
        <button type='submit'>로그아웃</button>
    </form>
</p>

<p>
    <form action={% url 'accounts:delete' %} method='POST'>
        {% csrf_token %}
        <button type='submit'>회원 탈퇴</button>
    </form>
</p>

{%endblock content%}